.form-control.front_search {
    position: relative;
    vertical-align: top;
    background-color: rgb(225, 231, 206);
    padding: 17px;
    margin-top: 29px;
    width: 70%;
    margin-left: 15%;
}

.select-vendor {
    width: 50%;
    font-family: Cursive;
    font-size: 20px;
}
.stickers {
    width: 25px;
    height: 25px;
    border-radius: 0px;
    position: absolute;
    overflow: hidden;
    left: 23px;
    top: 28px;
    display: inline-block;
    vertical-align: middle;
}
.add-item {
	border-radius: 50%;
	border: 2px solid;
}
.collection-item.avatar:hover{
    background: #ebf8f6;
}
.item-price {
	padding: 25px;
}
.collection.col.s8.menu-items {
	margin:30px;
	margin-left: -50px; 
}
.collection.s8.add-to-cart {
    top: 30px;
    left: 23px;
}
.collection-item.cart-header {
    background: #ded;
    color: #20ac76;
    text-align: center;
    font-weight: bold;
}